.registerbg2{
  background-image: url('../../assets/register/Registerbg.webp');
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: bottom center; 
 /* background-position: bottom; */
  width: 100%;
  /* min-height: max-content; */
  height: 100svh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

}